body,html{
  margin:0;
  padding:0;
  font-family:Arial, sans-serif;
  background:#000;
  overflow:hidden;
}
.bg-media{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  object-fit:cover;
  z-index:-1;
}
#danmakuContainer{
  position:absolute;
  top:0;left:0;
  width:100%;
  height:100%;
  pointer-events:none;
}
.danmaku{
  display:inline-block;
  padding:3px 8px;
  border:1px solid #fff;
  border-radius:4px;
  background:rgba(0,0,0,0.5);
  font-weight:bold;
  position:absolute;
  white-space:nowrap;
}
#inputPanel{
  position:absolute;
  bottom:10px;
  left:10px;
}
#controls{
  position:absolute;
  top:10px;
  right:10px;
  width:250px;
  background:rgba(0,0,0,0.7);
  color:#fff;
  padding:10px;
  border-radius:6px;
  font-size:14px;
}
#controls input, #controls button{
  margin-top:5px;
  width:100%;
}
#bannedListContainer ul li button{
  margin-left:5px;
}
